<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view6">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>   <img src=" https://image.flaticon.com/icons/svg/138/138878.svg" width="50" height="60"alt=""> Consulta una API</h1>
      <p>Aqui podras ver el demo.</p>
      <button class="login-button" on-click="consultaAPI">Consulta</button> <br> <br>
    </div>
    <table class="mainTable" align="center" width="100%">
        <tbody>
          <tr>
           <th class="subHeadCell" colspan="7" align="left">Consulta</th>
         </tr>
         <tr>
           <th class="headCell">CustomerID</th>
           <th class="headCell">CompanyName</th>
           <th class="headCell">ContactName</th>
           <th class="headCell">ContactTitle</th>
           <th class="headCell">Address</th>
           <th class="headCell">City</th>
           <th class="headCell">Region</th>
           <th class="headCell">PostalCode</th>
           <th class="headCell">Country</th>
           <th class="headCell">Phone</th>
           <th class="headCell">Fax</th>

         </tr>
         <template is="dom-repeat" items="{{clientes.value}}">

           <tr class="textCell_2">            
              <td>
                [[item.CustomerID]]
              </td>
              <td>
                [[item.CompanyName]]
              </td>
              <td>
                [[item.ContactName]]
              </td>
              <td>
                [[item.ContactTitle]]
              </td>
              <td>
                [[item.Address]]
              </td>
              <td>
                [[item.City]]
              </td>
              <td>
                [[item.Region]]
              </td>
          </tr>
          </template>
        </tbody>
      </table>
  </template>

  <script>
    class MyView6 extends Polymer.Element {
      static get is() { return 'my-view6'; }
      static get properties() {
      return {
        clientes: {
          type: Array,
          notify: true   /** manejador de eventos  */
        }
      };
      }
      consultaAPI (){
          var request = new XMLHttpRequest();
          //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          //var x = this.pcuenta;
          //var mov = this.usuario;
          request.send();
          this.clientes=JSON.parse(request.responseText);
          console.log ('respuesta Northwind',this.clientes);
          /*this.usuario.forEach(function(elemento) {
          var cuentaFind =  elemento.CustomerID;
          alert ("CustomerID"+cuentaFind);
          console.log('usuarios por cuenta', elemento.cdcuenta, +cuentaFind);
        });*/

          }
        }

    window.customElements.define(MyView6.is, MyView6);
  </script>
</dom-module>
