<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view4">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>   <img src=" https://image.flaticon.com/icons/svg/138/138662.svg" width="50" height="60"alt=""> Consulta Usuarios</h1>
      <p>Cuenta</p>
      <input type="text" class="form-control" placeholder="Cuenta" name="" value="{{pcuenta::input}}" required>  <br> <br>
      <button class="login-button" on-click="consultaUsuario">Consulta</button> <br> <br>
    </div>
    <table class="mainTable" align="center" width="100%">
        <tbody>
          <tr>
      			<th class="subHeadCell" colspan="8" align="left">Consulta Usuario</th>
      		</tr>
          <tr>
            <th class="headCell">IdUsuario</th>
            <th class="headCell">Cuenta</th>
            <th class="headCell">Nombre</th>
            <th class="headCell">Estatus</th>
          </tr>
         <template is="dom-repeat" items="{{usuario}}">


            <tr class="textCell_2">
              <td style="padding:0;" align="left">&nbsp;
                [[item.cdusuario]]
              </td>
              <td>
                [[item.cdcuenta]]
              </td>            
              <td>
                [[item.nbprimer_nombre]] [[item.nbsegundo_nombre]]  [[item.nbap_paterno]] [[item.nbap_materno]]
              </td>
              <td>
                [[item.st]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
  </template>

  <script>
    class MyView4 extends Polymer.Element {
      static get is() { return 'my-view4'; }
      static get properties() {
      return {
        usuario: {
          type: Array,
          notify: true   /** manejador de eventos  */
        },
        pcuenta: {
          type: Number,
          value:''
        },
        plogin: {
          type: String,
          value: ''
        }
        };
      }
      consultaUsuario (){
          var request = new XMLHttpRequest();
          if (this.pcuenta == ''){
              alert ("Digite un numero de cuenta !");
              window.location.href = ("view4");
          }
          //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          request.open("GET","http://localhost:3002/usuarios/"+this.pcuenta, false);
          //request.setRequestHeader("Accept", "application/json");
          var x = this.pcuenta;
          var mov = this.usuario;
          request.send();
          this.usuario=JSON.parse(request.responseText);
          console.log ('llamando a usuarios ',this.usuario);
          if (this.usuario == ''){
               alert ("Usuario no existe");
               this.pcuenta ='';
           }
          this.usuario.forEach(function(elemento) {
          var cuentaFind =  elemento.cdcuenta;
          //alert ("Bienvenido"+cuentaFind);
          console.log('usuarios por cuenta', elemento.cdcuenta, +cuentaFind);
          });
          console.log ('resutado',this.usuario);
          }
        }

        function newDoc() {
          window.location.assign("view3")
        };
    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
