<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
    <div class="card">
      <h1>   <img src=" https://image.flaticon.com/icons/svg/138/138878.svg" width="50" height="60"alt=""> Consulta Movimientos</h1>
      <p>Aqui podras consultar tus movimientos.</p>
      Cuenta: <input type="text" class="form-control" placeholder="Cuenta" name="" value="{{pcuenta::input}}" required>  <br> <br>
      <button class="login-button" on-click="consultaMovimiento">Consulta</button> <br> <br>
    </div>

    <table class="mainTable" align="center" width="100%">
        <tbody>
          <tr>
           <th class="subHeadCell" colspan="7" align="left">movimientos</th>
         </tr>
         <tr>
           <th class="headCell">Cuenta</th>
           <th class="headCell">Num. de tarjeta</th>
           <th class="headCell">Tipo</th>
           <th class="headCell">Fecha</th>
           <th class="headCell">Importe</th>
           <th class="headCell">Categoria</th>
           <th class="headCell">descripcion</th>
         </tr>
         <template is="dom-repeat" items="{{movimientos}}">

            <tr class="textCell_2">
              <td style="padding:0;" align="left">&nbsp;
                [[item.cdcuenta]]
              </td>
              <td>
                [[item.cdtarjeta]]
              </td>
              <td>
                [[item.tipo]]
              </td>
              <td>
                [[item.fecha]]
              </td>
              <td>
                [[item.importe]]
              </td>
              <td>
                [[item.categoria]]
              </td>
              <td>
                [[item.descripcion]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
      return {
        movimientos: {
          type: Array,
          notify: true   /** manejador de eventos  */
        },
        pcuenta: {
          type: Number,
          value:''
        },
        plogin: {
          type: String,
          value: ''
        }
        };
      }
      consultaMovimiento (){
          var request = new XMLHttpRequest();
          if (this.pcuenta == ''){
              alert ("Digite un numero de cuenta !");
              window.location.href = ("view3");
          }
          //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          //request.open("GET","http://localhost:3002/movimientos/"+this.pcuenta, false);
          request.open("GET","http://localhost:3002/movimientos/"+this.pcuenta, false);
          //request.setRequestHeader("Accept", "application/json");
          request.send();
          this.movimientos=JSON.parse(request.responseText);
          if (this.movimientos == ''){
               alert ("No se encontraron movimientos");
               this.pcuenta ='';
           }
          this.movimientos.forEach(function(elemento) {
          var movimientoFind =  elemento.cdcuenta
          console.log('cuenta de movimientos', elemento.cdcuenta, +movimientoFind);
          });
          console.log ('resutado',this.movimientos);
        }
      };
    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
