<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

      <div class="card">
       <h1>  <img src=" https://image.flaticon.com/icons/svg/272/272354.svg" width="50" height="60"alt=""> Login</h1>
      <p>Complete los datos.</p>
      Cuenta: <input type="text" class="form-control" placeholder="Cuenta" name="" value="{{pcuenta::input}}" required>
      Password: <input type="text" class="form-control" placeholder="Password" name="login" value="{{plogin::input}}" required> <br>
      <input type="hidden"  name="oculto" id="oculto" value="0">
      <button on-click="consultaUsuario" class="login-button">Entrar</button> <br> <br>
    </div>
    <table>
        <tbody>
         <template is="dom-repeat" items="{{usuarios}}">
            <tr>
              <td>
                [[item.cdusuario]]
              </td>
              <td>
                [[item.cdcuenta]]
              </td>
              <td>
                [[item.st]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>
  </template>

  <script>

    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      static get properties() {
      return {
        usuarios: {
          type: Array,
          notify: true   /** manejador de eventos  */
        },
        pcuenta: {
          type: Number,
          value:''
        },
        plogin: {
          type: String,
          value: ''
        }
        };
      }
      consultaUsuario (){
          var request = new XMLHttpRequest();
          if (this.pcuenta == ''){
              alert ("Usuario Invalido null");
              window.location.href = ("view2");

          }
          //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          request.open("GET","http://localhost:3002/usuarios/"+this.pcuenta, false);
          //request.setRequestHeader("Accept", "application/json");
          var x = this.pcuenta;
          var y = this.plogin;
          var mov = this.usuarios;
          request.send();
          this.usuarios=JSON.parse(request.responseText);
          console.log ('llamando a usuarios ',this.usuarios);
        //  alert ("this" +this.usuarios);
         if (this.usuarios == ''){
              alert ("Usuario Invalido");
              this.pcuenta ='';
              this.plogin='';
          }
          //  alert ("for"+this.usuarios);
          this.usuarios.forEach(function(elemento) {
          var cuentaFind =  elemento.cdcuenta;
          var passFind =  elemento.nbpassword;
        //  alert ("Bienvenido"+cuentaFind);
        //  alert ("Bienvenidooooo"+x);
          if (parseInt (cuentaFind)== x) {
            if (passFind == y) {
            alert ("Bienvenido!");
             newDoc();
            }
            else {
              alert ("2-Usuario Invalido");
              window.location.href =("view2")
            }
          }
          console.log('usuarios por cuentas', elemento.cdcuenta, +cuentaFind);
          });
          console.log ('resutado',this.usuarios);
          }
        }
        function newDoc() {
        window.location.href =("view3")
        };

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
