<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view5">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <div class="card">

      <h1> <img src=" https://image.flaticon.com/icons/svg/138/138545.svg" width="50" height="60"> Alta de movimientos.</h1>
      <p>Complete el formulario. </p>
      Cuenta:<input  type="text" class="form-control" placeholder="Cuenta"  name="cuenta" onkeypress='return validaNumericos(event)' value="{{pcuenta::input}}" required=”required” >
      Tarjeta:<input type="text" class="form-control"    placeholder="Numero de tarjeta" name="tar" onkeypress='numeros(this)'value="{{ptarjeta::input}}" required>
      Tipo:<input type="text" class="form-control" placeholder="Tipo" name="tipo" value="{{ptipo::input}}" required>
      Fecha: <input type="text"  class="form-control" placeholder="Fecha" name="fecha"  onclick="fechahoy(this)" onkeypress="fechahoy(this)" value="{{pfecha::input}}" >
      Importe sin decimal: <input type="text" class="form-control" placeholder="Importe" onkeyup="format(this)" onchange="format(this)" name="importe" value="{{pimporte::input}}" required>
      Categoria: <input type="text" class="form-control" placeholder="Categoria" name="categori" value="{{pcategoria::input}}" required>
      Descripcion: <input type="text" class="form-control" placeholder="Descripcion" name="desc" value="{{pdesc::input}}" required>   <br> <br>
      <button on-click="altaMov" class="login-button">Enviar</button> <br> <br><br>
      <table>
        <tbody>
         <template is="dom-repeat" items="{{altamov}}">
            <tr>
              <td>
                [[item.cdusuario]]
              </td>
              <td>
                [[item.cdcuenta]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>

  </template>

  <script>
    /*class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }*/

    //document.getElementByName("fecha").value = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
  //  this.pfecha = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
  //  Polymer.dom(this).querySelector('#fecha')= (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());

    class MyView5 extends Polymer.Element {
      static get is() {return 'my-view5';}

      static get properties() {
        return {
          altamov: {
            type: Array,
            notify: true   /** manejador de eventos  */
            },
          pcuenta: {
            type: Number,
            value:''
          },
          ptarjeta: {
              type: Number,
              value:''
            },
          ptipo: {
                type: String,
                value:''
              },
          pfecha: {
            type: Date,
            value:''
          },
          pimporte:{
            type: Number,
            value: ''
          },
          pcategoria:{
            type: String,
            value: ''
          },
          pdesc:{
            type: String,
            value: ''
          }
        };
      }



      altaMov (){

        var request = new XMLHttpRequest();

          if (this.pcuenta == ''){
            alert("El datos es obligatorio")
            return false
          }
          if (this.ptarjeta == ''){
            alert("El datos es obligatorio")
            return false
          }
          if (this.ptipo == ''){
            alert("El datos es obligatorio")
            return false
          }
          if (this.pimporte == ''){
            alert("El datos es obligatorio")
            return false
          }
          if (this.pcategoria == ''){
            alert("El datos es obligatorio")
            return false
          }
          if (this.pdesc == ''){
            alert("El datos es obligatorio")
            return false
          }
      //  var f = new Date();
      //  this.pfecha = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("POST","http://localhost:3002/movimientos", false);
        //request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        //this.usuarios=JSON.parse(request.responseText);
        if(this.pfecha == ''){
          var f = new Date();
          this.pfecha = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
        }
        var nuevoMov = {"cdcuenta":+this.pcuenta,
                        "cdtarjeta":+this.ptarjeta,
                        "tipo":this.ptipo,
                        "fecha":this.pfecha,
                        "importe":+this.pimporte,
                        "categoria":this.pcategoria,
                        "descripcion":this.pdesc
                        };
        var body = JSON.stringify(nuevoMov);
        //alert ('algo'+this.pfecha);
        request.send(body);
        alert ("Alta exitosa");
        console.log ('Alta de movimientos', nuevoMov);
        newDoc();
      }

      fechahoy(){
        var f = new Date();
        this.pfecha = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
      }

    }
    function format(input) {
      var num = input.value.replace(/\./g,'');
      if(!isNaN(num)){
        num = num.toString().split('').reverse().join('').replace(/(?=\d*\.?)(\d{3})/g,'$1.');
        num = num.split('').reverse().join('').replace(/^[\.]/,'');
        input.value = num;
      }
      else{ alert('Solo se permiten numeros');
        input.value = input.value.replace(/[^\d\.]*/g,'');
      }
    };

    function newDoc() {
      window.open("view5");
    };

    function validaNumericos(event) {
       if(event.charCode >= 48 && event.charCode <= 57){
        return true;
        }
        return false;
    };

    function numeros(input){
      var num = input.value
      if(!isNaN(num)){
        return true;
      }
      else{ alert('Solo se permiten numeros');
      input.value = '';
      }
    };

     function fechahoy(input){
       var valor = input.value
       var f = new Date();
       valor = (f.getDate() + "/" + (f.getMonth() +1) + "/" + f.getFullYear());
       input.value = valor;
     };

    window.customElements.define(MyView5.is, MyView5);
  </script>
</dom-module>
