<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <h1>  <img src="https://image.flaticon.com/icons/svg/138/138659.svg" width="50" height="60"alt=""> Alta de usuarios</h1>
      <p>Complete el formulario.</p>
      <p>Nombre completo</p>
      <input class ="form-control" type="text" placeholder="Nombre*" name="nombre" value="{{pnombre::input}}" required> <br>
      <input class ="form-control" type="text" placeholder="Segundo Nombre" name="snombre" value="{{psnombre::input}}" required> <br>
      <input class ="form-control" type="text" placeholder="Primer apellido*" name="apellido" value="{{papellido::input}}" required> <br>
      <input class ="form-control" type="text" placeholder="Segundo apellido" name="sapellido" value="{{psapellido::input}}" required>
      <p>Cuenta</p>
      <input class ="form-control" type="text" placeholder="Cuenta*" name="cuenta" value="{{pcuenta::input}}" required >
      <p>Contraseña </p>
      <input class ="form-control" type="text" placeholder="Contraseña*" name="login" value="{{plogin::input}}" required = "required"> <br>
      <button on-click="altaUsuarios" class="login-button">Enviar</button> <br>
      <table>
        <tbody>
         <template is="dom-repeat" items="{{usuarios}}">
            <tr>
              <td>
                [[item.cdcuenta]]
              </td>
              <td>
                [[item.nbpassword]]
              </td>
            </tr>
          </template>
        </tbody>
      </table>

    </div>

  </template>

  <script>
    /*class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
    }*/

    class MyView1 extends Polymer.Element {
      static get is() {return 'my-view1';}
      static get properties() {
        return {
          usuarios: {
            type: Array,
            notify: true   /** manejador de eventos  */
            },
          pcuenta: {
            type: Number,
            value:''
          },
          plogin: {
            type: String,
            value: ''
          },
          pnombre:{
            type: String,
            value: ''
          },
          psnombre:{
            type: String,
            value: ''
          },
          papellido:{
            type: String,
            value: ''
          },
          psapellido:{
            type: String,
            value: ''
          },
          pactivo:{
            type: String,
            value: "Activo"
          }
        };
      }


      altaUsuarios (){
        var request = new XMLHttpRequest();
        if (this.pcuenta == ''){
          alert("El dato es obligatorio")
          return false
        }
        if (this.pcuenta == ''){
          alert("El dato es obligatorio")
          return false
        }
        if (this.plogin == ''){
          alert("El dato es obligatorio")
          return false
        }
        if (this.pnombre == ''){
          alert("El dato es obligatorio")
          return false
        }
        if (this.papellido == ''){
          alert("El dato es obligatorio")
          return false
        }
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("POST","http://localhost:3002/usuarios", false);
        //request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Accept", "application/json");
        request.setRequestHeader("Content-Type", "application/json");
        //this.usuarios=JSON.parse(request.responseText);
        var nuevoCliente = {"cdcuenta":+this.pcuenta,
                            "nbpassword":this.plogin,
                            "nbprimer_nombre":this.pnombre,
                            "nbsegundo_nombre":this.psnombre,
                            "nbap_primero":this.papellido,
                            "nbap_segundo":this.psapellido,
                            "st_usuario":this.pactivo};

        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        alert ("Alta exitosa");
        console.log ('Alta de usuarios', nuevoCliente);
        window.location.href = ("view1");
      }
    }
    /*function newDoc() {
      window.location.assign("view3")
    };*/
    function borrar() {
      this.pcuenta ='';
      this.login='';
      this.nombre='';
      this.snombre='';
      this.apellido='';
      this.sapellido='';

    };
    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
