<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        color: #212121;
        font-size: 22px;
      }

      .mainTable{
      	border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-collapse: separate;
        border-spacing:  1px;
      	border: 1px solid #FFFFFF;
      	background-color: #D8D8D8;
      	padding: 0;
      }
      .headCell{
      	  font-family:Arial;
          color:#545454;
          background-color:#F2F2F2;
          font-size:15px;
          height: 30px;
          text-align: center;
          color: #074ea3;
      }
      th{
         border: 1px solid #F2F2F2;
         color: #363636;
         font-size:15px;
      }
      .textCell_2 A:link{font-family:Arial; font-size:13px;color:#0000ff}
      .textCell_2 A:active{font-family:Arial; font-size:13px;color:#FF0000}
      .textCell_2 A:visited{font-family:Arial; font-size:13px;color:#800080}

      .textCell_2{
        font-family:Arial;
        font-size:13px;
        background-color:#FFFFFF;
        color:#006EC1;
        border: 1px
        solid #D8D8D8;
       }

       .login-button{
        	color:white;
        	width: 25px;
        	height: 25px;
        	line-height: 25px;
        	text-align:center;
        	border:1px solid #2c7cac;
          background-color: #0079C1;
        	background-image: linear-gradient(to bottom, #0079C1, #00559D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0079C1, endColorstr=#00559D);
        	line-height: 20px;
        	width: 10%;
        	height: 30px;
        	font-size: 19px;
        	font-weight: normal;
        	border-radius: 3px;
        }
        .subHeadCell{
          font-family:Arial;
          color:#094fa4;
          background-color:#F2F2F2;
          font-size:18px;
          font-weight: normal;
          padding-left: 15px;
          padding-top: 3px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          height: 30px;
        }
        .form-control{
          display:block;
          width:18%;
          height:15px;
          padding:2px 2px;
          font-size:14px;
          line-height:1.55557143;
            }
            .forms-control{
              -display:block;
              width:18%;
              height:15px;
              padding:2px 2px;
              font-size:14px;
              line-height:5.55557143;
                }

    </style>
  </template>
</dom-module>
